Repository ECONEURA/ECONEURA-IA, changes with the owners that .github/CODEOWNERS names for each.
All owners: @econeura/developers, @econeura/api-team, @econeura/frontend-team, @econeura/shared-team, @econeura/docs-team, @econeura/devops-team, @econeura/security-team

feat: Complete FASE 1 & start FASE 2 - PR-28,30,34,38,67,69,15,29,31 all 100% completed
  PR-30-GDPR-COMPLIANCE-SUITE-COMPLETO.md
  apps/api/src/__tests__/integration/api/gdpr-compliance.integration.test.ts
  apps/api/src/__tests__/unit/lib/gdpr-consolidated.service.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/gdpr-compliance.ts
Owners: @econeura/developers, @econeura/api-team

chore: add initial audit artifacts
  LICENSE
  docs/audit/AUDIT.json
  docs/audit/BRANCHES.json
  docs/audit/ESLINT.json
  docs/audit/ISSUES.json
  docs/audit/NO_DEPLOY_EVIDENCE.md
  docs/audit/PRS_REAL.json
  docs/audit/REPO_META.json
  docs/audit/VITEST.json
  docs/audit/jscpd/jscpd-report.html
  docs/audit/jscpd/jscpd-report.json
  pnpm-workspace.yaml
Owners: @econeura/developers, @econeura/docs-team

chore: pin pnpm version
  package.json
Owners: @econeura/developers

sync: mirror main + snapshots de PRs (solo lectura, NO DEPLOY)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  CLEAN_TREE.md
  NO_DEPLOY_EVIDENCE.md
  PIPELINE_REPORT.md
  PR-05-EVIDENCE.md
  PR-06-EVIDENCE.md
  PR-07-EVIDENCE.md
  PR-08-EVIDENCE.md
  PR_STATUS_SUMMARY.md
  VALIDATION_LOG.md
  apps/api/src/routes/health.ts
  apps/workers/src/index.ts
  docs/ARCH_MAP.md
  docs/DUP_REPORT.md
  docs/KPI_BASELINE.md
  docs/MERGE_PLAN.md
  docs/PR_MATRIX.csv
  docs/PR_STATUS.json
  docs/sync/ASKS.md
  docs/sync/CLAIM_TO_SOURCE.csv
  docs/sync/EVIDENCE_INDEX.csv
  docs/sync/NO_DEPLOY_EVIDENCE.md
  docs/sync/OMITIDOS.csv
  docs/sync/PR_INDEX.csv
  docs/sync/PR_STATE.csv
  docs/sync/PR_STATUS.json
  docs/sync/PR_STATUS_SUMMARY.md
  docs/sync/PR_SUMMARY.json
  docs/sync/READOUT.md
  docs/sync/SYNC_STATE.json
  docs/sync/tree_main.json
  package.json
  packages/shared/src/ai/enhanced-router.js
  packages/shared/src/health/index.ts
  packages/shared/src/observability/index.ts
  packages/shared/src/security/index.js
Owners: @econeura/devops-team, @econeura/developers, @econeura/api-team, @econeura/docs-team, @econeura/shared-team

docs: add review summary and risk register
  docs/audit/AUDIT.json
  docs/audit/BRANCHES.json
  docs/audit/CLOC.txt
  docs/audit/DB_INVENTORY.json
  docs/audit/ESLINT.json
  docs/audit/GITLEAKS.json
  docs/audit/ISSUES.json
  docs/audit/KNIP.json
  docs/audit/NO_DEPLOY_EVIDENCE.md
  docs/audit/REPO_META.json
  docs/audit/SEMGREP.json
  docs/audit/TS_PRUNE.txt
  docs/audit/VITEST.json
  docs/audit/depcruise.json
  docs/audit/deps_graph.json
  docs/audit/jscpd-report.html
  docs/audit/jscpd-report.json
  docs/review/CHAT_EXPORT.md
  docs/review/FINDINGS.json
  docs/review/PR_STATE.csv
  docs/review/PR_STATUS.json
  docs/review/REVIEW.md
  docs/review/RISK_REGISTER.csv
Owners: @econeura/docs-team

feat: PR-13 Auth AAD + RBAC mínimo
  packages/shared/src/ai/enhanced-router.js
Owners: @econeura/shared-team

feat: PR-14 Error handler global
  PR-14/EVIDENCE.md
  apps/api/src/middleware/error-handler.ts
  apps/api/src/tests/error-handler.test.ts
  packages/shared/src/errors/index.ts
Owners: @econeura/developers, @econeura/api-team, @econeura/shared-team

feat: PR-15 X-Correlation-Id e2e
  PR-15/EVIDENCE.md
  apps/api/src/middleware/correlation.ts
  apps/api/src/tests/correlation.test.ts
  apps/web/src/lib/correlation.ts
  packages/shared/src/correlation/index.ts
Owners: @econeura/developers, @econeura/api-team, @econeura/frontend-team, @econeura/shared-team

feat: PR-21 Sistema de Notificaciones completo
  PR-21/EVIDENCE.md
  apps/api/src/routes/notifications.ts
  apps/api/src/tests/notifications.test.ts
  apps/web/src/components/Notifications/NotificationDashboard.tsx
  packages/shared/src/notifications/providers/email.provider.ts
  packages/shared/src/notifications/providers/push.provider.ts
  packages/shared/src/notifications/providers/sms.provider.ts
  packages/shared/src/notifications/templates/template-engine.ts
Owners: @econeura/developers, @econeura/api-team, @econeura/frontend-team, @econeura/shared-team

feat: PR-36 Data Analytics Dashboard - Sistema completo de analytics y dashboards
  PR-31-ADVANCED-SECURITY-FRAMEWORK-COMPLETO.md
  PR-32-CONFIGURATION-FEATURE-FLAGS-COMPLETO.md
  PR-33-WORKFLOWS-BPMN-STATE-MACHINES-COMPLETO.md
  PR-34-INVENTORY-KARDEX-STOCK-ALERTS-COMPLETO.md
  PR-35-AI-CHAT-ADVANCED-COMPLETO.md
  PR-36-DATA-ANALYTICS-DASHBOARD-COMPLETO.md
  apps/api/src/__tests__/integration/api/advanced-security-framework.integration.test.ts
  apps/api/src/__tests__/integration/api/ai-chat-advanced.integration.test.ts
  apps/api/src/__tests__/integration/api/configuration.integration.test.ts
  apps/api/src/__tests__/integration/api/data-analytics-dashboard.integration.test.ts
  apps/api/src/__tests__/integration/api/inventory-kardex.integration.test.ts
  apps/api/src/__tests__/integration/api/workflows.integration.test.ts
  apps/api/src/__tests__/unit/lib/advanced-security-framework.service.test.ts
  apps/api/src/__tests__/unit/lib/ai-chat-advanced.service.test.ts
  apps/api/src/__tests__/unit/lib/configuration.service.test.ts
  apps/api/src/__tests__/unit/lib/data-analytics-dashboard.service.test.ts
  apps/api/src/__tests__/unit/lib/inventory-kardex.service.test.ts
  apps/api/src/__tests__/unit/lib/workflows.service.test.ts
  apps/api/src/index.ts
  apps/api/src/lib/advanced-security-framework.service.ts
  apps/api/src/lib/ai-chat-advanced.service.ts
  apps/api/src/lib/configuration.service.ts
  apps/api/src/lib/data-analytics-dashboard.service.ts
  apps/api/src/lib/workflows.service.ts
  apps/api/src/routes/advanced-security-framework.ts
  apps/api/src/routes/ai-chat-advanced.ts
  apps/api/src/routes/configuration.ts
  apps/api/src/routes/data-analytics-dashboard.ts
  apps/api/src/routes/workflows.ts
  apps/web/src/app/api/ai-chat-advanced/[...path]/route.ts
  apps/web/src/app/api/config/[...path]/route.ts
  apps/web/src/app/api/data-analytics/[...path]/route.ts
  apps/web/src/app/api/inventory/[...path]/route.ts
  apps/web/src/app/api/workflows/[...path]/route.ts
  apps/web/src/components/Configuration/ConfigurationDashboard.tsx
  apps/web/src/components/DataAnalytics/DataAnalyticsDashboard.tsx
  apps/web/src/components/Inventory/InventoryKardexDashboard.tsx
  apps/web/src/components/Workflows/WorkflowsDashboard.tsx
  apps/web/src/components/ai/AIAdvancedChat.tsx
  apps/web/src/lib/feature-flags.ts
Owners: @econeura/developers, @econeura/api-team, @econeura/frontend-team

feat: PR-37 Companies Taxonomy & Views - Sistema completo de taxonomía y vistas
  PR-37-COMPANIES-TAXONOMY-VIEWS-COMPLETO.md
  apps/api/src/__tests__/integration/api/companies-taxonomy.integration.test.ts
  apps/api/src/__tests__/unit/lib/companies-taxonomy.service.test.ts
  apps/web/src/app/api/companies-taxonomy/[...path]/route.ts
  apps/web/src/components/CompaniesTaxonomy/CompaniesTaxonomyDashboard.tsx
  apps/web/src/hooks/use-companies-taxonomy.ts
Owners: @econeura/developers, @econeura/api-team, @econeura/frontend-team

.github/CODEOWNERS:

# Global owners
* @econeura/developers

# API specific
apps/api/ @econeura/api-team

# Web specific  
apps/web/ @econeura/frontend-team

# Packages
packages/ @econeura/shared-team

# Documentation
docs/ @econeura/docs-team

# CI/CD
.github/ @econeura/devops-team

# Security
ops/azure-pack/ @econeura/security-team
